{:paths   ["src/server" "src/script"]

 :deps    {thheller/shadow-cljs        {:mvn/version "2.19.6"}
           org.clojure/clojurescript   {:mvn/version "1.11.60"}
           datascript/datascript       {:mvn/version "1.3.13"}
           com.taoensso/timbre         {:mvn/version "5.2.1"}}}
