{:deps true
 :builds {:script {:target :node-script
                   :main zotero-tools.script/main
                   :output-to "target/script.js"}
          :server {:target :node-script
                   :main zotero-tools.server/main
                   :compiler-options {:externs ["datascript/externs.js"]}
                   :output-to "target/server.js"
                   ;; No modules entry because it is a node script.
                   :devtools {:before-load-async zotero-tools.server/stop ; Needed for reload to work.
                              :after-load zotero-tools.server/start}}}} ; Used for hot-code reload too.
